---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="bg-onyx p-8 rounded-8 panel">
    <h1 class="font-sans font-light text-4xl text-linen">
      Welcome to my web page
    </h1>

    <div class="h-8"></div>
    <p class="font-sans text-linen">
      I'm a physics student currently working on a master's degree in <span
        class="italic">Complex Adaptive Systems</span
      >. When I'm not doing that I delve into programming subjects such as
      machine learning and web development.
    </p>
  </div>
</Layout>

<style></style>
