---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="font-geo text-6xl text-pale-grey -translate-x-1">
      HI, I'M VINCENT.
    </h1>

    <div class="h-8"></div>
    <p class="font-gothic text-pale-grey text-2xl">
      I'm a physics student currently working on a master's degree in <span
        class="italic">Complex Adaptive Systems</span
      >. When I'm not doing that I delve into programming subjects such as
      machine learning and web development.
    </p>
  </main>
</Layout>
