---
import Layout from "../layouts/Layout.astro";

import ContactIcons from "../components/ContactIcons";
---

<Layout title="Index">
  <main class="px-8 lg:px-16">
    <h1 class="font-geo text-5xl lg:text-6xl text-pale-grey -translate-x-1">
      HI, I'M VINCENT.
    </h1>

    <div class="h-8"></div>
    <p class="font-gothic text-pale-grey text-lg lg:text-2xl">
      I'm a physics student currently studying for a master's degree in <span
        class="italic">Complex Adaptive Systems</span
      >. When I'm not doing that I delve into programming subjects such as
      machine learning and web development.
    </p>
    <div class="h-8"></div>
    <p class="font-gothic text-pale-grey text-lg lg:text-2xl">
      Contact me using any of the means on the right or check out my blog posts
      about tech, programming or whatever it is I'm up to using the menu on the
      left.
    </p>

    <div class="h-16"></div>
  </main>
</Layout>
