---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Left Handed">
  <main class="px-8 lg:px-16">
    <h1 class="font-geo text-5xl lg:text-6xl text-pale-grey -translate-x-1">
      WHY IS THE MENU ON THE LEFT?
    </h1>

    <div class="h-8"></div>

    <p class="font-gothic text-pale-grey text-lg lg:text-2xl">
      Since the dawn of the smartphone era a grave oppression has struck my
      people, the lefties: <span class="font-bold">The hamburger menu.</span>
    </p>
    <div class="h-4"></div>
    <p class="font-gothic text-pale-grey text-lg lg:text-2xl">
      Usually situated at the top right of the screen, the hamburger menu taunts
      the left handed user by constantly being just out of reach for the thumb
      while holding the phone in one hand.
    </p>
    <div class="h-4"></div>
    <p class="font-gothic text-pale-grey text-lg lg:text-2xl">
      I am striking back towards the oppressive establishment by having <span
        class="font-bold">my</span
      > menu on the left hand side, at the top of the screen on mobile devices.
      On small layout shift for the man, one giant leap for the equality of both
      hands.
    </p>
  </main>
</Layout>
