---
interface Props {
  title: string;
}

const { title } = Astro.props;

import { ViewTransitions } from "astro:transitions";
import Menu from "../components/Menu";
import ContactIcons from "../components/ContactIcons";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/bitmap.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{`Vincent / ${title}`}</title>
    <ViewTransitions />
  </head>
  <body class="bg-onyx">
    <div
      class="fixed -top-[7rem] left-[12.5rem] border-pale-grey border-[3px] w-[55rem] h-[55rem] rounded-full -z-10 opacity-20"
    >
    </div>
    <div
      class="fixed -top-40 left-48 border-pale-grey border-[3px] w-[45rem] h-[45rem] rounded-full -z-10 opacity-20"
    >
    </div>
    <div
      class="fixed top-[10.5rem] left-[54.5rem] border-pale-grey border-[3px] w-20 h-20 rounded-full -z-10 opacity-70"
    >
    </div>
    <div
      class="fixed top-[45.75rem] left-[45rem] border-pale-grey border-[3px] w-12 h-12 rounded-full -z-10 opacity-70"
    >
    </div>

    <main class="max-w-screen-sm px-16 xl:px-0 z-10 mx-auto">
      <div class="h-48 md:h-72"></div>
      <slot />
    </main>

    <div class="h-32"></div>

    <div class="fixed top-6 right-4 lg:right-16 lg:top-1/2 lg:-translate-y-1/2">
      <ContactIcons client:load />
    </div>

    <Menu client:load />
    <style is:global>
      .panel {
        box-shadow:
          8px 8px 16px #2a2c2f,
          -8px -8px 16px #46494e;
      }

      .shadow-menu {
        box-shadow: 22px 1px 23px -1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 22px 1px 23px -1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 22px 1px 23px -1px rgba(0, 0, 0, 0.2);
      }

      .shadow-popup {
        box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0.3);
      }

      .show-popup {
        animation-name: popup;
        animation-duration: 2s;
      }

      @keyframes popup {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      @font-face {
        font-family: "Geometos";
        src: url("/font/Geometos.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Century Gothic";
        src: url("/font/CenturyGothic.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </body>
</html>
